header {
  width: 100%;
  background-color: var(--background-color);
  padding: 0px var(--small-padding);
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
